
hr {
    color:sienna;
}

p {
    margin-left:20px;
}

body {
    background:#b0c4de;
    padding:25px 50px;
    align:center;
}

h3{
color:;
text-align:left;
font-size:34pt;
}

h1
{
color:red;
text-align:left;
font-size:55pt;
}